# Task 1:

<p>Read the following data set:</p>
<p>https://archive.ics.uci.edu/ml/machine-learning-databases/adult/</p>
<p>Rename the columns as per the description from this file:</p>
<p>https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names</p>

In [0]:
import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [0]:
column_index = pd.Series(data=("age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","salary_class"))
column_index

0                age
1          workclass
2             fnlwgt
3          education
4      education_num
5     marital_status
6         occupation
7       relationship
8               race
9                sex
10      capital_gain
11      capital_loss
12    hours_per_week
13    native_country
14      salary_class
dtype: object

In [0]:
adult_df = df #Assigns df to adult_df
adult_df.columns = column_index #Assigns coulmn_index to adult_df columns
adult_df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary_class
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

### Task:

#### Create a sql db from adult dataset and name it sqladb

In [0]:
import sqlite3

connection = sqlite3.connect(':memory:')
cur = connection.cursor()
adult_df.to_sql("sqladb", connection)

#### 1. Select 10 records from the adult sqladb

In [0]:
select_ten_record_query = 'SELECT * FROM sqladb LIMIT 10;' #Select query
cur.execute(select_ten_record_query) #Executes select query
cur.fetchall() #Fetches all data

[(0,
  50,
  ' Self-emp-not-inc',
  83311,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  13,
  ' United-States',
  ' <=50K'),
 (1,
  38,
  ' Private',
  215646,
  ' HS-grad',
  9,
  ' Divorced',
  ' Handlers-cleaners',
  ' Not-in-family',
  ' White',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K'),
 (2,
  53,
  ' Private',
  234721,
  ' 11th',
  7,
  ' Married-civ-spouse',
  ' Handlers-cleaners',
  ' Husband',
  ' Black',
  ' Male',
  0,
  0,
  40,
  ' United-States',
  ' <=50K'),
 (3,
  28,
  ' Private',
  338409,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Prof-specialty',
  ' Wife',
  ' Black',
  ' Female',
  0,
  0,
  40,
  ' Cuba',
  ' <=50K'),
 (4,
  37,
  ' Private',
  284582,
  ' Masters',
  14,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Wife',
  ' White',
  ' Female',
  0,
  0,
  40,
  ' United-States',
  ' <=50K'),
 (5,
  49,
  ' Private',
  160187,
  ' 9th',
  5,
  ' Married-spouse-absent',
  ' Other-service',
  ' Not-in-family',
  ' Black',
  ' Female',
  0,
  0,
  16,
  ' Jamaica',
  ' <=50K'),
 (6,
  52,
  ' Self-emp-not-inc',
  209642,
  ' HS-grad',
  9,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' White',
  ' Male',
  0,
  0,
  45,
  ' United-States',
  ' >50K'),
 (7,
  31,
  ' Private',
  45781,
  ' Masters',
  14,
  ' Never-married',
  ' Prof-specialty',
  ' Not-in-family',
  ' White',
  ' Female',
  14084,
  0,
  50,
  ' United-States',
  ' >50K'),
 (8,
  42,
  ' Private',
  159449,
  ' Bachelors',
  13,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' White',
  ' Male',
  5178,
  0,
  40,
  ' United-States',
  ' >50K'),
 (9,
  37,
  ' Private',
  280464,
  ' Some-college',
  10,
  ' Married-civ-spouse',
  ' Exec-managerial',
  ' Husband',
  ' Black',
  ' Male',
  0,
  0,
  80,
  ' United-States',
  ' >50K')]

#### 2. Show me the average hours per week of all men who are working in private sector

In [0]:
avg_hours_per_week_worked_men_private_sector_query = '''SELECT AVG(hours_per_week) FROM sqladb WHERE workclass = ' Private' AND sex = ' Male';'''
cur.execute(avg_hours_per_week_worked_men_private_sector_query)
cur.fetchall()

[(42.22122591006424,)]

#### 3. Show me the frequency table for education, occupation and relationship, separately

print("Frequency table for education: ")
frequency_table_for_education_query = ''' SELECT education, COUNT(education) AS frequency FROM sqladb GROUP BY education;'''
cur.execute(frequency_table_for_education_query)
cur.fetchall()

In [0]:
print("Frequency table for education: ")
frequency_table_for_education_query = ''' SELECT education, COUNT(education) AS frequency FROM sqladb GROUP BY education;'''
cur.execute(frequency_table_for_education_query)
cur.fetchall()

Frequency table for education:

[(' 10th', 933),
 (' 11th', 1175),
 (' 12th', 433),
 (' 1st-4th', 168),
 (' 5th-6th', 333),
 (' 7th-8th', 646),
 (' 9th', 514),
 (' Assoc-acdm', 1067),
 (' Assoc-voc', 1382),
 (' Bachelors', 5354),
 (' Doctorate', 413),
 (' HS-grad', 10501),
 (' Masters', 1723),
 (' Preschool', 51),
 (' Prof-school', 576),
 (' Some-college', 7291)]

In [0]:
print("Frequency table for occupation: ")
frequency_table_for_occupation_query = ''' SELECT occupation, COUNT(occupation) AS frequency FROM sqladb GROUP BY occupation;'''
cur.execute(frequency_table_for_occupation_query)
cur.fetchall()

Frequency table for occupation:

[(' ?', 1843),
 (' Adm-clerical', 3769),
 (' Armed-Forces', 9),
 (' Craft-repair', 4099),
 (' Exec-managerial', 4066),
 (' Farming-fishing', 994),
 (' Handlers-cleaners', 1370),
 (' Machine-op-inspct', 2002),
 (' Other-service', 3295),
 (' Priv-house-serv', 149),
 (' Prof-specialty', 4140),
 (' Protective-serv', 649),
 (' Sales', 3650),
 (' Tech-support', 928),
 (' Transport-moving', 1597)]

In [0]:
print("Frequency table for relationship: ")
frequency_table_for_relationship_query = ''' SELECT relationship, COUNT(relationship) AS frequency FROM sqladb GROUP BY relationship;'''
cur.execute(frequency_table_for_relationship_query)
cur.fetchall()

Frequency table for relationship:

[(' Husband', 13193),
 (' Not-in-family', 8304),
 (' Other-relative', 981),
 (' Own-child', 5068),
 (' Unmarried', 3446),
 (' Wife', 1568)]

#### 4. Are there any people who are married, working in private sector and having a masters degree

In [0]:
count_people_married_working_private_sector_masters_degree_query = '''SELECT COUNT(*) FROM sqladb
                                                                    WHERE marital_status=' Married-AF-spouse'
                                                                    or marital_status=' Married-civ-spouse'
                                                                    or marital_status=' Married-spouse-absent'
                                                                    or marital_status=' Separated'
                                                                    or marital_status=' Widowed'
                                                                    and workclass = ' Private'
                                                                    and education= ' Masters'; '''
cur.execute(count_people_married_working_private_sector_masters_degree_query)
result = cur.fetchall()
result

[(16455,)]

In [0]:
print("Yes" if result[0][0] > 0 else "No") #Checks if there any people who are married, working in private sector and having a masters degree

Yes

#### 5. What is the average, minimum and maximum age group for people working in different sectors

In [0]:
select_avg_min_max_age_group_working_query = ''' SELECT workclass, AVG(age), MIN(age), MAX(age) FROM sqladb GROUP BY workclass;'''
cur.execute(select_avg_min_max_age_group_working_query)
cur.fetchall()

[(' ?', 40.960239651416124, 17, 90),
 (' Federal-gov', 42.590625, 17, 90),
 (' Local-gov', 41.75107501194458, 17, 90),
 (' Never-worked', 20.571428571428573, 17, 30),
 (' Private', 36.797585477617204, 17, 90),
 (' Self-emp-inc', 46.01702508960574, 17, 84),
 (' Self-emp-not-inc', 44.96969696969697, 17, 90),
 (' State-gov', 39.43639167309175, 17, 81),
 (' Without-pay', 47.785714285714285, 19, 72)]

#### 6. Calculate age distribution by country

In [0]:
select_age_distribution_by_country_query = ''' SELECT age, native_country, COUNT(*) FROM sqladb GROUP BY age, native_country;'''
cur.execute(select_age_distribution_by_country_query)
cur.fetchall()

[(17, ' ?', 2),
 (17, ' Canada', 2),
 (17, ' El-Salvador', 2),
 (17, ' England', 1),
 (17, ' Haiti', 1),
 (17, ' India', 1),
 (17, ' Mexico', 6),
 (17, ' Peru', 2),
 (17, ' Philippines', 1),
 (17, ' Poland', 1),
 (17, ' Puerto-Rico', 1),
 (17, ' Trinadad&Tobago', 1),
 (17, ' United-States', 374),
 (18, ' ?', 8),
 (18, ' Cambodia', 1),
 (18, ' Canada', 1),
 (18, ' Columbia', 1),
 (18, ' Dominican-Republic', 1),
 (18, ' Germany', 1),
 (18, ' Honduras', 1),
 (18, ' India', 1),
 (18, ' Jamaica', 1),
 (18, ' Mexico', 6),
 (18, ' Peru', 1),
 (18, ' Philippines', 2),
 (18, ' Scotland', 1),
 (18, ' United-States', 524),
 (19, ' ?', 5),
 (19, ' Canada', 1),
 (19, ' El-Salvador', 4),
 (19, ' England', 2),
 (19, ' Guatemala', 3),
 (19, ' Haiti', 1),
 (19, ' Honduras', 1),
 (19, ' Hong', 1),
 (19, ' Italy', 1),
 (19, ' Jamaica', 1),
 (19, ' Japan', 2),
 (19, ' Laos', 2),
 (19, ' Mexico', 14),
 (19, ' Nicaragua', 2),
 (19, ' Philippines', 2),
 (19, ' Portugal', 1),
 (19, ' Puerto-Rico', 3),
 (19, ' South', 3),
 (19, ' Thailand', 2),
 (19, ' United-States', 659),
 (19, ' Vietnam', 2),
 (20, ' ?', 10),
 (20, ' Canada', 2),
 (20, ' El-Salvador', 5),
 (20, ' England', 1),
 (20, ' France', 1),
 (20, ' Germany', 5),
 (20, ' Guatemala', 3),
 (20, ' Haiti', 1),
 (20, ' India', 1),
 (20, ' Italy', 1),
 (20, ' Mexico', 18),
 (20, ' Nicaragua', 4),
 (20, ' Peru', 1),
 (20, ' Philippines', 2),
 (20, ' Puerto-Rico', 2),
 (20, ' South', 2),
 (20, ' Taiwan', 1),
 (20, ' United-States', 689),
 (20, ' Vietnam', 3),
 (20, ' Yugoslavia', 1),
 (21, ' ?', 11),
 (21, ' Columbia', 3),
 (21, ' Cuba', 2),
 (21, ' Dominican-Republic', 3),
 (21, ' Ecuador', 1),
 (21, ' El-Salvador', 2),
 (21, ' England', 1),
 (21, ' Germany', 3),
 (21, ' Guatemala', 2),
 (21, ' India', 1),
 (21, ' Italy', 1),
 (21, ' Jamaica', 3),
 (21, ' Mexico', 24),
 (21, ' Nicaragua', 1),
 (21, ' Outlying-US(Guam-USVI-etc)', 1),
 (21, ' Peru', 1),
 (21, ' Philippines', 1),
 (21, ' Poland', 1),
 (21, ' Portugal', 1),
 (21, ' Puerto-Rico', 1),
 (21, ' South', 1),
 (21, ' Taiwan', 1),
 (21, ' United-States', 651),
 (21, ' Vietnam', 3),
 (22, ' ?', 12),
 (22, ' Canada', 1),
 (22, ' China', 1),
 (22, ' Dominican-Republic', 3),
 (22, ' El-Salvador', 2),
 (22, ' England', 1),
 (22, ' Germany', 4),
 (22, ' Greece', 2),
 (22, ' Guatemala', 3),
 (22, ' Haiti', 2),
 (22, ' India', 2),
 (22, ' Iran', 2),
 (22, ' Italy', 1),
 (22, ' Jamaica', 3),
 (22, ' Mexico', 24),
 (22, ' Peru', 1),
 (22, ' Philippines', 4),
 (22, ' Portugal', 1),
 (22, ' Puerto-Rico', 1),
 (22, ' South', 5),
 (22, ' Taiwan', 2),
 (22, ' Thailand', 1),
 (22, ' United-States', 683),
 (22, ' Vietnam', 3),
 (22, ' Yugoslavia', 1),
 (23, ' ?', 6),
 (23, ' Canada', 3),
 (23, ' China', 2),
 (23, ' Columbia', 2),
 (23, ' Cuba', 3),
 (23, ' Dominican-Republic', 4),
 (23, ' Ecuador', 1),
 (23, ' El-Salvador', 6),
 (23, ' England', 2),
 (23, ' Germany', 1),
 (23, ' Greece', 1),
 (23, ' Guatemala', 4),
 (23, ' Haiti', 2),
 (23, ' India', 1),
 (23, ' Iran', 1),
 (23, ' Ireland', 2),
 (23, ' Jamaica', 2),
 (23, ' Laos', 1),
 (23, ' Mexico', 32),
 (23, ' Outlying-US(Guam-USVI-etc)', 1),
 (23, ' Peru', 1),
 (23, ' Philippines', 6),
 (23, ' Poland', 2),
 (23, ' Portugal', 1),
 (23, ' Puerto-Rico', 5),
 (23, ' South', 3),
 (23, ' Taiwan', 1),
 (23, ' United-States', 771),
 (23, ' Vietnam', 10),
 (24, ' ?', 14),
 (24, ' Canada', 3),
 (24, ' China', 2),
 (24, ' Dominican-Republic', 3),
 (24, ' Ecuador', 2),
 (24, ' El-Salvador', 7),
 (24, ' England', 3),
 (24, ' France', 1),
 (24, ' Germany', 2),
 (24, ' Greece', 1),
 (24, ' Guatemala', 1),
 (24, ' Haiti', 2),
 (24, ' Hungary', 1),
 (24, ' India', 2),
 (24, ' Iran', 1),
 (24, ' Italy', 1),
 (24, ' Jamaica', 4),
 (24, ' Japan', 1),
 (24, ' Laos', 1),
 (24, ' Mexico', 25),
 (24, ' Peru', 1),
 (24, ' Philippines', 5),
 (24, ' Portugal', 1),
 (24, ' Puerto-Rico', 1),
 (24, ' South', 3),
 (24, ' Taiwan', 2),
 (24, ' Thailand', 1),
 (24, ' United-States', 705),
 (24, ' Vietnam', 2),
 (25, ' ?', 11),
 (25, ' Cambodia', 1),
 (25, ' Canada', 5),
 (25, ' China', 1),
 (25, ' Columbia', 4),
 (25, ' Cuba', 1),
 (25, ' Dominican-Republic', 2),
 (25, ' Ecuador', 1),
 (25, ' El-Salvador', 8),
 (25, ' England', 1),
 (25, ' Guatemala', 6),
 (25, ' India', 3),
 (25, ' Italy', 2),
 (25, ' Jamaica', 4),
 (25, ' Japan', 1),
 (25, ' Mexico', 39),
 (25, ' Nicaragua', 1),
 (25, ' Outlying-US(Guam-USVI-etc)', 1),
 (25, ' Peru', 1),
 (25, ' Philippines', 3),
 (25, ' Poland', 3),
 (25, ' Puerto-Rico', 1),
 (25, ' Taiwan', 3),
 (25, ' United-States', 734),
 (25, ' Vietnam', 3),
 (25, ' Yugoslavia', 1),
 (26, ' ?', 18),
 (26, ' Canada', 2),
 (26, ' Columbia', 3),
 (26, ' Dominican-Republic', 3),
 (26, ' El-Salvador', 3),
 (26, ' England', 1),
 (26, ' Germany', 3),
 (26, ' Guatemala', 2),
 (26, ' Honduras', 1),
 (26, ' Hong', 2),
 (26, ' Hungary', 1),
 (26, ' India', 3),
 (26, ' Jamaica', 3),
 (26, ' Japan', 2),
 (26, ' Mexico', 22),
 (26, ' Nicaragua', 1),
 (26, ' Outlying-US(Guam-USVI-etc)', 1),
 (26, ' Peru', 1),
 (26, ' Philippines', 6),
 (26, ' Poland', 2),
 (26, ' Portugal', 1),
 (26, ' Puerto-Rico', 3),
 (26, ' South', 3),
 (26, ' Taiwan', 2),
 (26, ' Thailand', 1),
 (26, ' United-States', 694),
 (26, ' Vietnam', 1),
 (27, ' ?', 15),
 (27, ' Cambodia', 2),
 (27, ' Canada', 2),
 (27, ' China', 1),
 (27, ' Cuba', 1),
 (27, ' Dominican-Republic', 4),
 (27, ' Ecuador', 1),
 (27, ' El-Salvador', 3),
 (27, ' England', 1),
 (27, ' France', 1),
 (27, ' Germany', 3),
 (27, ' Greece', 1),
 (27, ' Guatemala', 6),
 (27, ' Hong', 2),
 (27, ' India', 4),
 (27, ' Ireland', 2),
 (27, ' Jamaica', 4),
 (27, ' Japan', 3),
 (27, ' Laos', 2),
 (27, ' Mexico', 27),
 (27, ' Nicaragua', 1),
 (27, ' Peru', 1),
 (27, ' Philippines', 11),
 (27, ' Poland', 2),
 (27, ' Portugal', 1),
 (27, ' Puerto-Rico', 2),
 (27, ' Scotland', 1),
 (27, ' South', 2),
 (27, ' Taiwan', 1),
 (27, ' United-States', 727),
 (27, ' Vietnam', 1),
 (28, ' ?', 19),
 (28, ' Cambodia', 1),
 (28, ' Canada', 3),
 (28, ' China', 1),
 (28, ' Columbia', 2),
 (28, ' Cuba', 3),
 (28, ' Dominican-Republic', 2),
 (28, ' Ecuador', 2),
 (28, ' El-Salvador', 3),
 (28, ' England', 3),
 (28, ' France', 2),
 (28, ' Germany', 5),
 (28, ' Guatemala', 2),
 (28, ' Haiti', 2),
 (28, ' Honduras', 2),
 (28, ' Hong', 2),
 (28, ' Hungary', 1),
 (28, ' India', 3),
 (28, ' Italy', 1),
 (28, ' Jamaica', 5),
 (28, ' Mexico', 33),
 (28, ' Nicaragua', 2),
 (28, ' Philippines', 5),
 (28, ' Poland', 2),
 (28, ' Portugal', 2),
 (28, ' Puerto-Rico', 4),
 (28, ' South', 1),
 (28, ' Taiwan', 2),
 (28, ' Trinadad&Tobago', 1),
 (28, ' United-States', 751),
 (29, ' ?', 12),
 (29, ' Canada', 4),
 (29, ' China', 1),
 (29, ' Columbia', 3),
 (29, ' Cuba', 1),
 (29, ' Dominican-Republic', 3),
 (29, ' Ecuador', 4),
 (29, ' El-Salvador', 4),
 (29, ' England', 2),
 (29, ' France', 2),
 (29, ' Germany', 8),
 (29, ' Guatemala', 3),
 (29, ' Haiti', 2),
 (29, ' Hong', 1),
 (29, ' India', 4),
 (29, ' Iran', 1),
 (29, ' Ireland', 1),
 (29, ' Italy', 1),
 (29, ' Jamaica', 2),
 (29, ' Japan', 4),
 (29, ' Laos', 2),
 (29, ' Mexico', 17),
 (29, ' Nicaragua', 2),
 (29, ' Outlying-US(Guam-USVI-etc)', 2),
 (29, ' Peru', 1),
 (29, ' Philippines', 6),
 (29, ' Poland', 1),
 (29, ' Portugal', 1),
 (29, ' Puerto-Rico', 1),
 (29, ' Scotland', 2),
 (29, ' South', 2),
 (29, ' Taiwan', 4),
 (29, ' Thailand', 1),
 (29, ' United-States', 706),
 (29, ' Vietnam', 1),
 (29, ' Yugoslavia', 1),
 (30, ' ?', 19),
 (30, ' Canada', 3),
 (30, ' China', 4),
 (30, ' Cuba', 1),
 (30, ' Dominican-Republic', 1),
 (30, ' Ecuador', 1),
 (30, ' El-Salvador', 1),
 (30, ' England', 4),
 (30, ' France', 1),
 (30, ' Germany', 8),
 (30, ' Guatemala', 2),
 (30, ' Haiti', 1),
 (30, ' Honduras', 1),
 (30, ' Hong', 1),
 (30, ' Hungary', 1),
 (30, ' India', 5),
 (30, ' Iran', 2),
 (30, ' Ireland', 4),
 (30, ' Jamaica', 1),
 (30, ' Japan', 1),
 (30, ' Laos', 1),
 (30, ' Mexico', 21),
 (30, ' Nicaragua', 2),
 (30, ' Outlying-US(Guam-USVI-etc)', 1),
 (30, ' Peru', 1),
 (30, ' Philippines', 2),
 (30, ' Poland', 2),
 (30, ' Portugal', 1),
 (30, ' Puerto-Rico', 2),
 (30, ' South', 3),
 (30, ' Taiwan', 5),
 (30, ' Thailand', 1),
 (30, ' United-States', 749),
 (30, ' Vietnam', 8),
 (31, ' ?', 18),
 (31, ' Canada', 2),
 (31, ' China', 2),
 (31, ' Columbia', 2),
 (31, ' Cuba', 3),
 (31, ' El-Salvador', 2),
 (31, ' England', 2),
 (31, ' France', 1),
 (31, ' Germany', 4),
 (31, ' Honduras', 2),
 (31, ' India', 5),
 (31, ' Ireland', 1),
 (31, ' Italy', 3),
 (31, ' Jamaica', 3),
 (31, ' Japan', 1),
 (31, ' Mexico', 33),
 (31, ' Philippines', 3),
 (31, ' Poland', 1),
 (31, ' Portugal', 1),
 (31, ' Puerto-Rico', 4),
 (31, ' South', 3),
 (31, ' Taiwan', 2),
 (31, ' Thailand', 1),
 (31, ' Trinadad&Tobago', 1),
 (31, ' United-States', 785),
 (31, ' Vietnam', 2),
 (31, ' Yugoslavia', 1),
 (32, ' ?', 17),
 (32, ' Cambodia', 1),
 (32, ' Canada', 3),
 (32, ' China', 2),
 (32, ' Columbia', 3),
 (32, ' Cuba', 1),
 (32, ' Dominican-Republic', 1),
 (32, ' Ecuador', 2),
 (32, ' El-Salvador', 1),
 (32, ' England', 3),
 (32, ' France', 1),
 (32, ' Germany', 3),
 (32, ' Greece', 2),
 (32, ' Guatemala', 1),
 (32, ' Haiti', 1),
 (32, ' Holand-Netherlands', 1),
 (32, ' Hong', 1),
 (32, ' India', 3),
 (32, ' Iran', 3),
 (32, ' Ireland', 4),
 (32, ' Italy', 2),
 (32, ' Jamaica', 3),
 (32, ' Japan', 1),
 (32, ' Laos', 1),
 (32, ' Mexico', 21),
 (32, ' Nicaragua', 3),
 (32, ' Philippines', 3),
 (32, ' Puerto-Rico', 2),
 (32, ' South', 2),
 (32, ' Taiwan', 1),
 (32, ' Trinadad&Tobago', 1),
 (32, ' United-States', 734),
 (33, ' ?', 13),
 (33, ' Canada', 4),
 (33, ' China', 4),
 (33, ' Columbia', 2),
 (33, ' Cuba', 4),
 (33, ' Ecuador', 1),
 (33, ' El-Salvador', 6),
 (33, ' England', 3),
 (33, ' France', 2),
 (33, ' Germany', 5),
 (33, ' Guatemala', 2),
 (33, ' Haiti', 2),
 (33, ' Hong', 2),
 (33, ' India', 3),
 (33, ' Iran', 1),
 (33, ' Italy', 1),
 (33, ' Jamaica', 2),
 (33, ' Japan', 4),
 (33, ' Mexico', 22),
 (33, ' Nicaragua', 1),
 (33, ' Peru', 2),
 (33, ' Philippines', 6),
 (33, ' Portugal', 1),
 (33, ' Puerto-Rico', 2),
 (33, ' South', 2),
 (33, ' Taiwan', 1),
 (33, ' Thailand', 2),
 (33, ' Trinadad&Tobago', 1),
 (33, ' United-States', 773),
 (33, ' Vietnam', 1),
 (34, ' ?', 24),
 (34, ' Cambodia', 1),
 (34, ' Canada', 1),
 (34, ' China', 4),
 (34, ' Columbia', 2),
 (34, ' Cuba', 1),
 (34, ' Dominican-Republic', 2),
 (34, ' El-Salvador', 3),
 (34, ' England', 5),
 (34, ' France', 3),
 (34, ' Germany', 8),
 (34, ' Guatemala', 3),
 (34, ' Haiti', 1),
 (34, ' India', 4),
 (34, ' Iran', 2),
 (34, ' Ireland', 1),
 (34, ' Italy', 1),
 (34, ' Jamaica', 4),
 (34, ' Japan', 2),
 (34, ' Mexico', 12),
 (34, ' Nicaragua', 1),
 (34, ' Peru', 1),
 (34, ' Philippines', 7),
 (34, ' Portugal', 3),
 (34, ' Puerto-Rico', 2),
 (34, ' South', 2),
 (34, ' Taiwan', 2),
 (34, ' United-States', 784),
 (35, ' ?', 18),
 (35, ' Cambodia', 1),
 (35, ' Canada', 1),
 (35, ' China', 2),
 (35, ' Cuba', 1),
 (35, ' Dominican-Republic', 1),
 (35, ' Ecuador', 1),
 (35, ' Germany', 5),
 (35, ' Guatemala', 1),
 (35, ' Haiti', 1),
 (35, ' Hong', 1),
 (35, ' India', 4),
 (35, ' Iran', 2),
 (35, ' Ireland', 1),
 (35, ' Jamaica', 4),
 (35, ' Japan', 2),
 (35, ' Mexico', 15),
 (35, ' Peru', 1),
 (35, ' Philippines', 8),
 (35, ' Poland', 2),
 (35, ' Puerto-Rico', 6),
 (35, ' South', 1),
 (35, ' Taiwan', 3),
 (35, ' Trinadad&Tobago', 1),
 (35, ' United-States', 789),
 (35, ' Vietnam', 2),
 (35, ' Yugoslavia', 2),
 (36, ' ?', 23),
 (36, ' Cambodia', 1),
 (36, ' Canada', 4),
 (36, ' China', 3),
 (36, ' Columbia', 2),
 (36, ' Cuba', 1),
 (36, ' Ecuador', 1),
 (36, ' El-Salvador', 3),
 (36, ' England', 2),
 (36, ' Germany', 4),
 (36, ' Guatemala', 1),
 (36, ' Haiti', 2),
 (36, ' Honduras', 1),
 (36, ' Hong', 1),
 (36, ' India', 3),
 (36, ' Iran', 4),
 (36, ' Italy', 2),
 (36, ' Jamaica', 1),
 (36, ' Japan', 3),
 (36, ' Laos', 2),
 (36, ' Mexico', 18),
 (36, ' Nicaragua', 1),
 (36, ' Philippines', 3),
 (36, ' Puerto-Rico', 2),
 (36, ' South', 4),
 (36, ' Taiwan', 3),
 (36, ' United-States', 801),
 (36, ' Vietnam', 1),
 (36, ' Yugoslavia', 1),
 (37, ' ?', 22),
 (37, ' Cambodia', 2),
 (37, ' Canada', 4),
 (37, ' China', 1),
 (37, ' Cuba', 5),
 (37, ' Ecuador', 1),
 (37, ' El-Salvador', 5),
 (37, ' England', 2),
 (37, ' France', 2),
 (37, ' Germany', 2),
 (37, ' Guatemala', 2),
 (37, ' Hong', 2),
 (37, ' Iran', 2),
 (37, ' Jamaica', 1),
 (37, ' Japan', 3),
 (37, ' Mexico', 19),
 (37, ' Nicaragua', 1),
 (37, ' Peru', 1),
 (37, ' Philippines', 8),
 (37, ' Portugal', 2),
 (37, ' Puerto-Rico', 4),
 (37, ' South', 2),
 (37, ' Thailand', 1),
 (37, ' United-States', 762),
 (37, ' Vietnam', 2),
 (38, ' ?', 20),
 (38, ' Canada', 4),
 (38, ' Columbia', 2),
 (38, ' Cuba', 4),
 (38, ' Dominican-Republic', 1),
 (38, ' El-Salvador', 1),
 (38, ' England', 2),
 (38, ' Germany', 1),
 (38, ' Guatemala', 1),
 (38, ' Haiti', 2),
 (38, ' India', 2),
 (38, ' Iran', 3),
 (38, ' Italy', 4),
 (38, ' Jamaica', 1),
 (38, ' Japan', 2),
 (38, ' Mexico', 15),
 (38, ' Nicaragua', 1),
 (38, ' Philippines', 7),
 (38, ' Poland', 4),
 (38, ' Portugal', 3),
 (38, ' Puerto-Rico', 1),
 (38, ' Scotland', 1),
 (38, ' Taiwan', 1),
 (38, ' Trinadad&Tobago', 2),
 (38, ' United-States', 741),
 (38, ' Vietnam', 1),
 (39, ' ?', 19),
 (39, ' Canada', 1),
 (39, ' China', 2),
 (39, ' Columbia', 2),
 (39, ' Cuba', 3),
 (39, ' Dominican-Republic', 4),
 (39, ' El-Salvador', 2),
 (39, ' England', 2),
 (39, ' France', 1),
 (39, ' Germany', 3),
 (39, ' India', 1),
 (39, ' Iran', 1),
 (39, ' Italy', 1),
 (39, ' Jamaica', 2),
 (39, ' Japan', 3),
 (39, ' Mexico', 12),
 (39, ' Nicaragua', 1),
 (39, ' Philippines', 14),
 (39, ' Poland', 5),
 (39, ' Puerto-Rico', 3),
 (39, ' South', 1),
 (39, ' United-States', 732),
 (40, ' ?', 12),
 (40, ' Cambodia', 2),
 (40, ' Canada', 4),
 (40, ' China', 4),
 (40, ' Cuba', 3),
 (40, ' Dominican-Republic', 3),
 (40, ' El-Salvador', 2),
 (40, ' England', 3),
 (40, ' Germany', 1),
 (40, ' Greece', 1),
 (40, ' Guatemala', 1),
 (40, ' Haiti', 1),
 (40, ' Hong', 1),
 (40, ' India', 1),
 (40, ' Iran', 2),
 (40, ' Ireland', 2),
 (40, ' Jamaica', 2),
 (40, ' Japan', 2),
 (40, ' Mexico', 11),
 (40, ' Philippines', 3),
 (40, ' Poland', 1),
 (40, ' Puerto-Rico', 5),
 (40, ' Scotland', 1),
 (40, ' South', 1),
 (40, ' Taiwan', 1),
 (40, ' Trinadad&Tobago', 1),
 (40, ' United-States', 721),
 (40, ' Vietnam', 1),
 (40, ' Yugoslavia', 1),
 (41, ' ?', 22),
 (41, ' Canada', 3),
 (41, ' China', 3),
 (41, ' Columbia', 1),
 (41, ' Cuba', 3),
 (41, ' Dominican-Republic', 2),
 (41, ' El-Salvador', 2),
 (41, ' England', 2),
 (41, ' Germany', 2),
 (41, ' Guatemala', 4),
 (41, ' Haiti', 1),
 (41, ' Honduras', 1),
 (41, ' Hong', 1),
 (41, ' India', 3),
 (41, ' Iran', 2),
 (41, ' Italy', 2),
 (41, ' Jamaica', 2),
 (41, ' Japan', 5),
 (41, ' Mexico', 20),
 (41, ' Nicaragua', 1),
 (41, ' Outlying-US(Guam-USVI-etc)', 1),
 (41, ' Peru', 5),
 (41, ' Philippines', 4),
 (41, ' Poland', 2),
 (41, ' Puerto-Rico', 2),
 (41, ' Taiwan', 4),
 (41, ' United-States', 705),
 (41, ' Vietnam', 1),
 (41, ' Yugoslavia', 2),
 (42, ' ?', 24),
 (42, ' Cambodia', 1),
 (42, ' Canada', 1),
 (42, ' Cuba', 1),
 (42, ' Dominican-Republic', 1),
 (42, ' Ecuador', 2),
 (42, ' El-Salvador', 5),
 (42, ' England', 2),
 (42, ' France', 1),
 (42, ' Germany', 1),
 (42, ' Haiti', 2),
 (42, ' India', 3),
 (42, ' Iran', 1),
 (42, ' Italy', 3),
 (42, ' Jamaica', 1),
 (42, ' Laos', 1),
 (42, ' Mexico', 7),
 (42, ' Nicaragua', 1),
 (42, ' Philippines', 4),
 (42, ' Poland', 2),
 (42, ' Puerto-Rico', 8),
 (42, ' Scotland', 1),
 (42, ' South', 2),
 (42, ' Taiwan', 3),
 (42, ' Trinadad&Tobago', 1),
 (42, ' United-States', 701),
 (43, ' ?', 14),
 (43, ' Canada', 1),
 (43, ' China', 2),
 (43, ' Columbia', 1),
 (43, ' Cuba', 2),
 (43, ' Dominican-Republic', 1),
 (43, ' England', 2),
 (43, ' France', 1),
 (43, ' Germany', 4),
 (43, ' Greece', 1),
 (43, ' Haiti', 2),
 (43, ' India', 3),
 (43, ' Iran', 1),
 (43, ' Italy', 1),
 (43, ' Jamaica', 1),
 (43, ' Japan', 1),
 (43, ' Mexico', 16),
 (43, ' Nicaragua', 2),
 (43, ' Outlying-US(Guam-USVI-etc)', 1),
 (43, ' Philippines', 3),
 (43, ' Poland', 3),
 (43, ' Portugal', 2),
 (43, ' Puerto-Rico', 1),
 (43, ' South', 3),
 (43, ' Thailand', 2),
 (43, ' Trinadad&Tobago', 1),
 (43, ' United-States', 695),
 (43, ' Vietnam', 2),
 (43, ' Yugoslavia', 1),
 (44, ' ?', 10),
 (44, ' Canada', 2),
 (44, ' China', 1),
 (44, ' Cuba', 2),
 (44, ' Dominican-Republic', 3),
 (44, ' Ecuador', 1),
 (44, ' El-Salvador', 1),
 (44, ' England', 4),
 (44, ' Germany', 1),
 (44, ' Greece', 1),
 (44, ' Haiti', 2),
 (44, ' India', 1),
 (44, ' Iran', 1),
 (44, ' Italy', 2),
 (44, ' Jamaica', 3),
 (44, ' Japan', 2),
 (44, ' Laos', 1),
 (44, ' Mexico', 10),
 (44, ' Nicaragua', 1),
 (44, ' Peru', 1),
 (44, ' Philippines', 3),
 (44, ' Poland', 3),
 (44, ' Portugal', 1),
 (44, ' Puerto-Rico', 4),
 (44, ' South', 1),
 (44, ' Taiwan', 1),
 (44, ' United-States', 658),
 (44, ' Vietnam', 3),
 (45, ' ?', 17),
 (45, ' Canada', 6),
 (45, ' China', 5),
 (45, ' Columbia', 2),
 (45, ' Cuba', 1),
 (45, ' Dominican-Republic', 1),
 (45, ' El-Salvador', 1),
 (45, ' England', 4),
 (45, ' France', 1),
 (45, ' Germany', 5),
 (45, ' Guatemala', 1),
 (45, ' Haiti', 1),
 (45, ' India', 4),
 (45, ' Iran', 1),
 (45, ' Japan', 3),
 (45, ' Mexico', 9),
 (45, ' Philippines', 7),
 (45, ' Poland', 1),
 (45, ' Puerto-Rico', 1),
 (45, ' South', 3),
 (45, ' Thailand', 1),
 (45, ' Trinadad&Tobago', 2),
 (45, ' United-States', 653),
 (45, ' Vietnam', 3),
 (45, ' Yugoslavia', 1),
 (46, ' ?', 15),
 (46, ' Cambodia', 1),
 (46, ' Canada', 2),
 (46, ' China', 2),
 (46, ' Columbia', 1),
 (46, ' Cuba', 2),
 (46, ' Dominican-Republic', 2),
 (46, ' Ecuador', 2),
 (46, ' El-Salvador', 1),
 (46, ' England', 2),
 (46, ' Germany', 6),
 (46, ' Greece', 1),
 (46, ' Guatemala', 4),
 (46, ' India', 3),
 (46, ' Ireland', 1),
 (46, ' Italy', 1),
 (46, ' Jamaica', 1),
 (46, ' Japan', 1),
 (46, ' Mexico', 10),
 (46, ' Peru', 1),
 (46, ' Philippines', 7),
 (46, ' Portugal', 1),
 (46, ' Puerto-Rico', 2),
 (46, ' South', 1),
 (46, ' Thailand', 1),
 (46, ' Trinadad&Tobago', 1),
 (46, ' United-States', 664),
 (46, ' Vietnam', 1),
 (47, ' ?', 12),
 (47, ' Canada', 2),
 (47, ' Cuba', 6),
 (47, ' Dominican-Republic', 1),
 (47, ' El-Salvador', 4),
 (47, ' England', 1),
 (47, ' France', 1),
 (47, ' Germany', 5),
 (47, ' Honduras', 2),
 (47, ' Hungary', 1),
 (47, ' India', 2),
 (47, ' Iran', 3),
 (47, ' Italy', 4),
 (47, ' Jamaica', 1),
 (47, ' Japan', 4),
 (47, ' Mexico', 10),
 (47, ' Outlying-US(Guam-USVI-etc)', 2),
 (47, ' Philippines', 2),
 (47, ' Portugal', 1),
 (47, ' Puerto-Rico', 8),
 (47, ' Scotland', 1),
 (47, ' South', 1),
 (47, ' Taiwan', 1),
 (47, ' Thailand', 2),
 (47, ' United-States', 631),
 (48, ' ?', 5),
 (48, ' Cambodia', 1),
 (48, ' Canada', 1),
 (48, ' China', 3),
 (48, ' Columbia', 1),
 (48, ' Cuba', 1),
 (48, ' Dominican-Republic', 3),
 (48, ' Ecuador', 1),
 (48, ' El-Salvador', 2),
 (48, ' England', 3),
 (48, ' Germany', 3),
 (48, ' Greece', 1),
 (48, ' Haiti', 1),
 (48, ' India', 4),
 (48, ' Ireland', 1),
 (48, ' Italy', 3),
 (48, ' Jamaica', 2),
 (48, ' Japan', 2),
 (48, ' Mexico', 7),
 (48, ' Nicaragua', 1),
 (48, ' Peru', 2),
 (48, ' Philippines', 5),
 (48, ' Poland', 1),
 (48, ' Portugal', 1),
 (48, ' Puerto-Rico', 1),
 (48, ' South', 2),
 (48, ' Trinadad&Tobago', 1),
 (48, ' United-States', 483),
 (48, ' Vietnam', 1),
 (49, ' ?', 4),
 (49, ' Canada', 2),
 (49, ' China', 1),
 (49, ' Columbia', 6),
 (49, ' Cuba', 1),
 (49, ' England', 1),
 (49, ' France', 1),
 (49, ' Germany', 1),
 (49, ' Greece', 3),
 (49, ' Hong', 1),
 (49, ' Hungary', 1),
 (49, ' India', 2),
 (49, ' Italy', 2),
 (49, ' Jamaica', 1),
 (49, ' Laos', 1),
 (49, ' Mexico', 3),
 (49, ' Peru', 2),
 (49, ' Philippines', 4),
 (49, ' Poland', 1),
 (49, ' Portugal', 2),
 (49, ' Puerto-Rico', 3),
 (49, ' Scotland', 1),
 (49, ' South', 2),
 (49, ' United-States', 531),
 (50, ' ?', 13),
 (50, ' Cambodia', 1),
 (50, ' Canada', 3),
 (50, ' China', 1),
 (50, ' Columbia', 1),
 (50, ' Cuba', 2),
 (50, ' Dominican-Republic', 2),

#### 7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [0]:
compute_net_capital_gain_query = '''SELECT capital_gain-capital_loss as Net_Capital_Gain FROM sqladb;'''
cur.execute(compute_net_capital_gain_query)
cur.fetchall()

[(0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (14084,),
 (5178,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-2042,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1408,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1902,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (5013,),
 (2407,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (14344,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1573,),
 (0,),
 (0,),
 (-1902,),
 (0,),
 (0,),
 (0,),
 (0,),
 (15024,),
 (0,),
 (0,),
 (0,),
 (7688,),
 (34095,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1887,),
 (4064,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1719,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1762,),
 (4386,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1564,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-2179,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1816,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1980,),
 (0,),
 (-1977,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (14084,),
 (7298,),
 (0,),
 (-1876,),
 (0,),
 (0,),
 (-1340,),
 (0,),
 (0,),
 (7298,),
 (0,),
 (15024,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-2206,),
 (0,),
 (0,),
 (0,),
 (0,),
 (1409,),
 (0,),
 (0,),
 (3674,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1741,),
 (0,),
 (0,),
 (0,),
 (-1977,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (4064,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (1055,),
 (2407,),
 (0,),
 (0,),
 (0,),
 (7298,),
 (0,),
 (0,),
 (7298,),
 (0,),
 (5178,),
 (0,),
 (0,),
 (0,),
 (15024,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (3464,),
 (0,),
 (0,),
 (7688,),
 (0,),
 (0,),
 (4386,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (7298,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1485,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1887,),
 (0,),
 (2050,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (7298,),
 (7298,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1564,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-2339,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-2415,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (7688,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-2179,),
 (-1977,),
 (0,),
 (0,),
 (-1887,),
 (0,),
 (0,),
 (0,),
 (0,),
 (15024,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (2176,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1408,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (2174,),
 (0,),
 (-1980,),
 (0,),
 (594,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1977,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (594,),
 (0,),
 (0,),
 (0,),
 (0,),
 (15024,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1380,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (15024,),
 (7688,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (20051,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (5013,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1977,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1887,),
 (0,),
 (0,),
 (0,),
 (0,),
 (7688,),
 (0,),
 (0,),
 (0,),
 (-1902,),
 (2174,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (6849,),
 (0,),
 (0,),
 (1055,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (15024,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (15024,),
 (0,),
 (0,),
 (0,),
 (0,),
 (15024,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (5178,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (4101,),
 (0,),
 (0,),
 (0,),
 (0,),
 (1111,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (8614,),
 (3411,),
 (0,),
 (-1762,),
 (-1721,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (2597,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1902,),
 (0,),
 (0,),
 (0,),
 (-1380,),
 (0,),
 (0,),
 (25236,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (4386,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-2051,),
 (4650,),
 (0,),
 (7298,),
 (0,),
 (0,),
 (0,),
 (0,),
 (9386,),
 (0,),
 (0,),
 (-2377,),
 (0,),
 (0,),
 (2407,),
 (0,),
 (0,),
 (594,),
 (0,),
 (0,),
 (0,),
 (14084,),
 (0,),
 (0,),
 (0,),
 (7688,),
 (0,),
 (0,),
 (0,),
 (7688,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1669,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-2352,),
 (0,),
 (0,),
 (1055,),
 (0,),
 (0,),
 (0,),
 (2463,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1902,),
 (0,),
 (-1721,),
 (0,),
 (0,),
 (0,),
 (5178,),
 (0,),
 (3103,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1672,),
 (-653,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (4386,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (4386,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (10605,),
 (-2415,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (2174,),
 (0,),
 (0,),
 (0,),
 (7688,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (15024,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (3103,),
 (0,),
 (0,),
 (-2415,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-1977,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (-2392,),
 (0,),
 (0,),
 (0,),
 (4101,),
 (0,),
 (2964,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (3325,),
 (-1504,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (2580,),
 (15024,),
 (0,),
 ...]

# Task 2:

<p> Read the following data set: </p>
<p>https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data </p>

In [0]:
import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [0]:
df.columns =  pd.Series(data=("age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","salary_class"))
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary_class
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

### Task:

#### 1. Create an sqlalchemy engine using a sample from the data set

In [0]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

engine = create_engine('sqlite://', echo=False)
connection = engine.raw_connection()
base = declarative_base()

df.to_sql('dfdata', connection, if_exists='replace')

#### 2. Write two basic update queries

In [0]:
update_query_1 = '''UPDATE dfdata SET hours_per_week = 20 WHERE age = 50;''' #First update query
update_query_2 = '''UPDATE dfdata SET capital_gain = 10 WHERE education = ' HS-grad';''' #Second update query
select_query = '''SELECT * FROM dfdata LIMIT 5;''' #Select query 

engine.execute(update_query_1) #Executes first update query
engine.execute(update_query_2) #Executes second update query

engine.execute(select_query).fetchall() #Executes select query

[(0, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 20, ' United-States', ' <=50K'),
 (1, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 10, 0, 40, ' United-States', ' <=50K'),
 (2, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (3, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K'),
 (4, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K')]

#### 3. Write two delete queries3. Write two delete queries

In [0]:
delete_query_1 = '''DELETE FROM dfdata WHERE age = 53;''' #First delete query
delete_query_2 = '''DELETE FROM dfdata WHERE education = ' Bachelors';''' #Second delete query
select_query = '''SELECT * FROM dfdata LIMIT 5;''' #Select query

engine.execute(delete_query_1) #Executes first delete query
engine.execute(delete_query_2) #Executes second delete query

engine.execute(select_query).fetchall() #Executes select query and fetches all data

[(1, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 10, 0, 40, ' United-States', ' <=50K'),
 (4, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (5, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K'),
 (6, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 10, 0, 45, ' United-States', ' >50K'),
 (7, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K')]

#### 4. Write two filter queries

In [0]:
filter_query_1 = '''SELECT * FROM dfdata WHERE education = ' Masters' LIMIT 5;''' #First filter query
engine.execute(filter_query_1).fetchall() #Executes fiter query and fetches all data

[(4, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (7, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K'),
 (18, 43, ' Self-emp-not-inc', 292175, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Unmarried', ' White', ' Female', 0, 0, 45, ' United-States', ' >50K'),
 (46, 44, ' Private', 128354, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Unmarried', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (86, 33, ' Private', 202051, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K')]

In [0]:
filter_query_2 = '''SELECT * FROM dfdata WHERE marital_status = ' Never-married' LIMIT 5;''' #Second filter query
engine.execute(filter_query_2).fetchall() #Executes filter query and fetches all data

[(7, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K'),
 (12, 32, ' Private', 205019, ' Assoc-acdm', 12, ' Never-married', ' Sales', ' Not-in-family', ' Black', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (15, 25, ' Self-emp-not-inc', 176756, ' HS-grad', 9, ' Never-married', ' Farming-fishing', ' Own-child', ' White', ' Male', 10, 0, 35, ' United-States', ' <=50K'),
 (16, 32, ' Private', 186824, ' HS-grad', 9, ' Never-married', ' Machine-op-inspct', ' Unmarried', ' White', ' Male', 10, 0, 40, ' United-States', ' <=50K'),
 (25, 19, ' Private', 168294, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Own-child', ' White', ' Male', 10, 0, 40, ' United-States', ' <=50K')]

#### 5. Write two function queries

In [0]:
function_query_1 = '''SELECT MIN(age) FROM dfdata WHERE relationship = ' Husband' LIMIT 5;''' #First function query
engine.execute(function_query_1).fetchall() #Executes function query and fetches all data

[(17,)]

In [0]:
function_query_2 = '''SELECT AVG(age) FROM dfdata WHERE education =' Masters' LIMIT 5;''' #Second function query
engine.execute(function_query_2).fetchall() #Executes function query and fetches all data

[(43.804412641621944,)]